apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-v2
  labels:
    app: demo
    version: v2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
      version: v2
  template:
    metadata:
      labels:
        app: demo
        version: v2
    spec:
      containers:
      - name: demo
        image: tomasignacio/demo:v2
        ports:
        - containerPort: 8080
